name: Build

on:
  push:
    branches-ignore:
      - master

jobs:
  
  build:

    runs-on: macOS-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v1
    - name: Install Utilities
      run: |
        brew install automake
        brew install libtool
    - name: Install
      run: pod install
    - name: Build
      run: xcodebuild build-for-testing -workspace sf-proj-ios.xcworkspace -scheme sf-proj-ios -destination 'platform=iOS Simulator,OS=latest,name=iPhone 11'
